/* Propiedades compartidas por todos los elementos.

https://css-tricks.com/snippets/css/complete-guide-grid/

Para que quede bien el nav podria hacer todo con flex y tratar de acomodar el carrito ahi y que quede alineado, 
pero vamos a hacerlo con grid tambien para experimentar y aprender a usarlo.
Al hacerlo con grid me voy a ahorrar unos div wrappers con el display flex, va a quedar todo mas legible
https://cssgrid-generator.netlify.app/

1 row - 3 columns. 
- 1 row porque es el header solamente
- 3 columnas, 1 para el logo, otra para el nav y otra para el carrito
Puedo medi el ancho de la imagen del carrito para ajustar la tercera columna a ese valor
*/

:root {
  --color-primary: #ff7b54;
  --color-primary-text: #fff;
  --color-secondary-text: #000;

  --color-button-primary-bg: var(--color-primary-text);
  --color-button-primary-text: var(--color-primary);

  --color-button-secondary-bg: var(--color-primary);
  --color-button-secondary-text: var(--color-primary-text);

  --font-family: "Inter", sans-serif;
}

/* declaramos el color blanco en el padre asi que directamente lo heredamos */
a {
  color: inherit;
  text-decoration: none;
}
svg,
button {
  cursor: pointer;
}
.close-menu {
  display: none;
}
.shopping-cart-icon--secondary g path {
  fill: var(--color-primary);
}
.body {
  font-family: var(--font-family);
}
.body--primary {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}
.body--secondary {
  background-color: var(--color-primary-text);
  color: var(--color-primary);
}

.main {
  padding: 0 150px;
}

/* Aplicamos la metodología BEM */
.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  align-items: center;
  grid-template-areas: "logo nav shopping-cart"; /* forma para nombrar a las parcelas que se forman*/
  padding: 0 60px;
}

.header__link {
  font-size: 40px;
  font-weight: bold;
}
p {
  margin: 0;
}
.nav {
  display: inline-block; /* En la misma linea los hijos */
  justify-self: end;
  /* se alinea a la derecha del padre, siendo el padre un grid. Es como si desde un flex container tirara un flex-end. 
  Me permite alinear a cada elemento en particular */
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__list-item {
  margin-right: 36px;
  font-size: 20px;
}

.button {
  height: 100px;
  text-align: center;
  padding: 0 64px;
  font-size: 32px;
  font-weight: bold;
  border: 4px solid white;
  box-sizing: border-box; /* Segun el figma, la caja entera tenia que medir 100px */
  transition: background-color 0.2s ease-in;
}

.button--main {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.button--secondary {
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
  border: 4px solid white;
}

/* Para crear el espacio entre los botones puedo hacer que los botones en general tengan un margin
pero eso podría terminar afectandome en otros lugares donde no quiera un margen. Ademas, le estaría agregando 
un margen al último hijo cosa que no quiero porque no hay nada a su lado */

.button:not(button:last-of-type) {
  margin-right: 40px;
  /* el margin-inline-end me va a hacer lo mismo, pero si estoy en nose, israel, que leen al reves
  no generaría el efecto deseado. Como me chupa un huevo eso no lo voy a contemplar. KISS*/
}

.button--main:hover {
  background-color: var(--color-button-primary-text);
  color: var(--color-button-primary-bg);
}
.button--secondary:hover {
  background-color: var(--color-button-secondary-text);
  color: var(--color-button-secondary-bg);
}
.menu {
  /* visibility: hidden; 
  no sirve, porque lo esconde pero sigue estando en el DOM, y si es asi, me caga el grid de 3 columnas  
  */
  display: none;
}
@media (width < 1100px) {
  .header__link {
    font-size: 25px;
  }
  .nav__list-item {
    font-size: 15px;
  }
  .header svg {
    height: 20px;
    width: 24px;
    padding: 0 0px;
  }
}
@media (width < 950px) {
  .button {
    height: 80px;
    padding: 0 20px;
    font-size: 25px;
  }
}
@media (width < 710px) {
  .button {
    height: 65px;
    padding: 0 15px;
    font-size: 20px;
  }
}
@media (width < 620px) {
  /* escondo los nabvlinks para que aparezca el menu y seguir teniendo 3 columnas y nada se rompa del grid */
  .button {
    height: 60px;
    padding: 0px;
    font-size: 20px;
    width: 200px;
  }
  .menu--visible {
    display: block;
  }
  .menu path {
    fill: var(--color-primary-text);
  }
  .close-menu path {
    fill: var(--color-primary-text);
  }
  .header {
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-template-areas: "menu logo shopping-cart"; /* forma para nombrar a las parcelas que se forman*/
    padding: 0 20px;
  }

  /* la idea es que el nav esta fuera de la pantalla y que transisione cuando le des click al menu.
  Cuando alguien clickea el menu, se le agrega la clase "--visible" para que haga la transición
  */
  .nav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-primary); /* para que tape el fondo */
    z-index: 1; /* para que tape se muestre encima de todo */
    top: 60px; /* altura del nav, para que se muestre abajo */
    left: -100%; /* para que este totalmente a un costado */
    transition: left 0.2s linear;
  }
  .nav--visible {
    left: 0;
  }
  .menu--visible,
  .close-menu--visible {
    display: block;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
  }
  .nav__list-item {
    margin-right: 0px;
    font-size: 30px;
    font-weight: bold;
  }
}
